<h1>Useful Croquet Sites</h1>
<p>New players may find the below links useful for getting started.</p>

<ul class="link-list">
  <li>
    <a href="http://www.croquet.org.uk/" target="_top">The Croquet Association</a>
  </li>
  <li>
    <a href="http://www.southeastcroquet.org.uk/" target="_top">SECF</a>
  </li>
  <li>
    <a href="http://www.thecroquetacademy.com/" target="_top">Croquet Academy</a>
  </li>
  <li>
    <a href="http://www.oxfordcroquet.com/equip/" target="_top">Equipment: Mallets</a>  
  </li>
  <li>
    <a href="http://www.bowlsdirect.com/contact.htm" target="_top">Equipment: Whites</a>  
  </li>
  <li>
    <a href="http://cornwall-croquet.org.uk/croquet_glossary.htm" target="_top">Croquet Glossary</a>  
  </li>
   <li>
    <a href="http://www.croquet.org.uk/association/laws.html" target="_top">Croquet Rules - Association Rules</a>  
   </li>
   <li>
    <a href="http://www.croquet.org.uk/golf/laws/contents.htm" target="_top">Croquet Rules - Golf Rules</a>  
   </li>

