<article>
  <section>
    <header>
      <h1>How to Join</h1>
    </header>
    <p>
      To join the Club you should contact the Secretary, Jean Cobbold, by e-mailing <a href="mailto:cheamcroquetbowlsclub@gmail.com?Subject=I%20want%20to%20join%20your%20croquet%20club" target="_top">cheamcroquetbowsclub@gmail.com</a> or phone 0208642 0533. The Club’s year runs from 1st April. The annual subscription is £75. There is no joining fee.
    </p>
    <p>
      There is currently a waiting list for croquet membership but not for bowls membership.
    </p>
  </section>
</article>